{%- include lang-prefix.html -%}
{%- assign t = site.data.i18n[current_lang] -%}
<div class="home-header pure-menu pure-menu-horizontal">
  <div class="home-header-bar">
    <ul class="home-header-menu pure-menu-list">
      <li class="pure-menu-item">
        <a href="{{ lang_prefix | append: '/dates/' | relative_url }}" class="pure-menu-link {% if page.translation_key == 'dates' %}current-item{% endif %}">{{ t.archive_dates }}</a>
      </li>
      <li class="pure-menu-item">
        <a href="{{ lang_prefix | append: '/tags/' | relative_url }}" class="pure-menu-link {% if page.translation_key == 'tags' %}current-item{% endif %}">{{ t.archive_tags }}</a>
      </li>
    </ul>
  </div>
</div>
