{%- include lang-prefix.html -%}
{%- assign t = site.data.i18n[current_lang] -%}
<header class="masthead">
  {% if site.avatar -%}
    <div class="avatar">
      {%- if site.avatar contains "://" -%}
        {%- assign avatar = site.avatar -%}
      {%- else -%}
        {%- assign avatar = site.avatar | relative_url -%}
      {%- endif -%}
      <img src="{{ avatar }}" class="avatar-image" alt="{{ site.author.name }}">
    </div>
  {%- endif %}
  <div class="masthead-title">
    <a href="{{ lang_prefix | append: '/' | relative_url }}" title="Home">{{ t.name | default: site.title }}</a>
  </div>
  <div class="masthead-tagline">
    <small>{{ t.tagline | default: site.description }}</small>
  </div>
  {%- include language-switcher.html -%}
  <nav class="navigation">
    <ul class="navigation-list">
      <li class="navigation-item">
        <a onclick="sessionStorage.setItem('forceCheckScroll', 'true')" href="{{ lang_prefix | append: '/' | relative_url }}">{{ t.nav_blog }}</a>
      </li>
      <li class="navigation-item">
        <a onclick="sessionStorage.setItem('forceCheckScroll', 'true')" href="{{ lang_prefix | append: '/about/' | relative_url }}">{{ t.nav_about }}</a>
      </li>
      <li class="navigation-item">
        <a onclick="sessionStorage.setItem('forceCheckScroll', 'true')" href="{{ lang_prefix | append: '/gallery/' | relative_url }}">{{ t.nav_gallery }}</a>
      </li>
    </ul>
  </nav>
  {% if site.data.social -%}
    <div class="social pure-menu pure-menu-horizontal">
      <ul class="social-icons pure-menu-list">
      {% for social in site.data.social -%}
        <li class="pure-menu-item">
          <a class="social-icon pure-menu-link" href="{{ social.url }}">
            <i class="{{ social.icon | default: 'fas fa-link' }}" title="{{ social.title }}"></i>
          </a>
        </li>
      {%- endfor %}
      </ul>
    </div>
  {%- endif %}
</header>
